.section__padding {
  padding: 0rem 2rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.app__wrapper {
  display: flex;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-purple);
  color: var(--color-black);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p__cormorant {
  color: var(--color-black);
  font-size: 60px;
}

.p__opensans {
  color: var(--color-black);
  font-size: 20px;
}

.headtext__cormorant {
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 70px;
  }

  .p__opensans {
    font-size: 20px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 0rem 2rem;
  }

  .p__cormorant {
    font-size: 50px;
  }

  .p__opensans {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 20px;
  }

  .p__cormorant {
    font-size: 50px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
